@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

@import url('https://fonts.googleapis.com/css?family=Nova+Oval');

html {
    
    background: url(pic.jpg) no-repeat center center fixed; 
    
    -webkit-background-size: cover;
    
    -moz-background-size: cover;
    
    -o-background-size: cover;
    
    background-size: cover;
    
}

body {
    
     cursor:cursor: url(http://ani.cursors-4u.net/cursors/cur-11/cur1089.cur),progress !important;

}

#header {
    
    font-family: 'Berkshire Swash', cursive;
    
    font-size: 60px;
    
    margin:5px;
    
    padding:1px 0 0 0;
    
    text-align:center;
    
}

#footer {
    
    margin:0;
    
    padding:5px;
    
    text-align:center;
    
    font-family: 'Nova Oval', cursive;
    
    font-size: 25px;
    
    text-shadow: 0 0 11px #ff0000, 0 0 11px #ff0000, 0 0 11px #ff0000;
    
    color: white;
    
    }

#center {
    
    text-align:center;
    
    margin:0;
    
    padding:6px 0;
    
    border-width:1px 0
    
    }

#user {
    
    text-align:center;
    
    margin:0;
    
    padding:6px 0;
    
    border-width:1px 0;
    
    font-family: 'Nova Oval', cursive;
    
    font-size: 25px;
    
    text-shadow: 0 0 11px #17d10a, 0 0 11px #17d10a, 0 0 11px #17d10a;
    
    color: white;
    
    }
    
#login {
    
    text-align:center;
    
    margin:0;
    
    padding:6px 0;
    
    border-width:1px 0;
    
    font-family: 'Nova Oval', cursive;
    
    font-size: 25px;
    
    text-shadow: 0 0 11px #17d10a, 0 0 11px #17d10a, 0 0 11px #17d10a;
    
    color: white;
    
    }

#profile {
    
    text-align:center;
    
    margin:0;
    
    padding:6px 0;
    
    border-width:1px 0
    
    }

.css img{
    
    -webkit-transition-duration: 0.5s;
    
    -moz-transition-duration: 0.5s;
    
    -o-transition-duration: 0.5s;
    
    margin: 0 10px 5px 0;

    cursor: url(http://ani.cursors-4u.net/cursors/cur-11/cur1089.cur),progress !important;
    
}

.css img:hover{
    
    -webkit-transform:scale(1.1);
    
    -moz-transform:scale(1.1);
    
    -o-transform:scale(1.1);
    
    box-shadow:0px 0px 30px gray;
    
    -webkit-box-shadow:0px 0px 30px gray;
    
    -moz-box-shadow:0px 0px 30px gray;
    
    opacity: 1;
    
}

.hr {
    
   border:1px dashed #333;
   
   margin:1px;
   
   padding:0;
   
   text-align:center;
   
}

.button {
    
    font-family: 'Nova Oval', cursive;
    
    background-color:transparent;
    
    border: 2px solid white;
    
    border-radius: 30px;
    
    color: white;
    
    width: 140px;
    
    height: 35px;
    
    text-align: center;
    
    text-decoration: none;
    
    display: inline-block;
    
    font-size: 16px;
    
    margin: 4px 2px;
    
    -webkit-transition-duration: 0.4s;
    
    transition-duration: 0.4s;
    
    cursor: url(http://ani.cursors-4u.net/cursors/cur-11/cur1089.cur),progress !important;

}

.button:hover {
    
    background-color: #0072ff;
    
    color: #fff;
    
    border: 1px solid #FFFFFF;
    
}

.search {
    
    font-family: 'Nova Oval', cursive;
    
    background-color:transparent;
    
    border: 2px solid white;
    
    border-radius: 30px;
    
    color: white;
    
    width: 140px;
    
    height: 35px;
    
    text-align: center;
    
    text-decoration: none;
    
    display: inline-block;
    
    font-size: 16px;
    
    margin: 4px 2px;
    
    -webkit-transition-duration: 0.4s;
    
    transition-duration: 0.4s;
    
    cursor: url(http://ani.cursors-4u.net/cursors/cur-11/cur1089.cur),progress !important;

}

.search:hover {
    
    background-color: #b35bf7;
    
    color: #fff;
    
    border: 1px solid #FFFFFF;
    
}

.submit {
    
    font-family: 'Nova Oval', cursive;
    
    background-color:transparent;
    
    border: 2px solid white;
    
    border-radius: 30px;
    
    color: white;
    
    width: 140px;
    
    height: 35px;
    
    text-align: center;
    
    text-decoration: none;
    
    display: inline-block;
    
    font-size: 16px;
    
    margin: 4px 2px;
    
    -webkit-transition-duration: 0.4s;
    
    transition-duration: 0.4s;
    
    cursor: url(http://ani.cursors-4u.net/cursors/cur-11/cur1089.cur),progress !important;

}

.submit:hover {
    
    background-color: #c401aa;
    
    color: #fff;
    
    border: 1px solid #FFFFFF;
    
}
